# --- Standard Version Control and IDE Files ---

.git
.gitattributes
.gitignore
.github
.svn
.hg
.idea
.vscode
Thumbs.db

# --- Go Specific Files/Directories to Ignore ---

.golangci.yml

# Go module cache: Not needed inside the builder, as 'go mod download' handles it.

vendor/

# Binary output: We control the build output name ('app' or '/go-app').

# Ignore any other default local binary names.

**/*.exe
**/*.test
*.prof

# --- Local Environment and Cache ---

# Local cache directories from your host machine

.cache/
tmp/
temp/

# Log files and temporary files

**/*.log
**/*~

# --- Docker Files Themselves ---

# These are only needed by the Docker daemon, not inside the image

Dockerfile
docker-compose.yml
.dockerignore

# --- Other Files ---

*.md
doppler-template.yaml
